/* Navigation list */
nav ul {
    list-style-type: none; /* Remove bullet points, but with safari in an unordered list it will treat it like text and not bullets or choices. */
    margin: 0; 
    padding: 0; 
}

/* Navigation */
nav li {
    display: inline-block; 
    background-color: #14213d;
    color: #ffffff; 
    /* margin: 0 30px; */
    /* margin: 0 30em; */ 
    /* padding: 0 30px; */
    /* padding: 0 30em; */ 
    padding: 10px 16px;
}

/* Footer paragraph */
footer p {
    text-align: right;
}

/* Image container */
div {
    position: relative;
    display: inline-block;
}

/* Image size */
img {
    width: 400px;
    height: 400px;
    display: block;
}

/* Text overlay */
span {
    position: absolute;
    right: 0;
    bottom: 0;
}
